body{
    width: 1200px;
    margin: 0 auto;
}

/* Main CSS Start */
.same-style {
    display: inline-block;
    background-color: #62ae38;
    color: white;
    padding: 12px 300px 12px 20px;
    border: 3px solid #386c1c;
    border-radius: 0 16px;
    margin-bottom: 15px;
}
.style-2{
    margin-top: 42px;
}
.style-3 {
    padding: 12px 190px 12px 20px;
    margin-left: 100px;
    background-color: #16a085;
    border-color: #0a5e4d;
}
.style-4 {
    margin-left: 200px;
    padding: 12px 250px 12px 20px;
    background-color: #2980b9;
    border: 3px solid #114b73;
}
.style-5 {
    border-radius: 12px;
    padding: 12px 400px 12px 20px;
    background-color: #365573;
    border-color: #1f2f3e;
    outline: 1px solid #a8a8a8;
    outline-offset: -11px;
    outline: 1px solid #617d99;
    color: #fbd63f;
}
.style-6 {
    margin-left: 200px;
    padding: 12px 291px 12px 20px;
    background-color: #9b59b6;
    border: 3px solid #6a397d;
}
.style-7 {
    padding: 12px 246px 12px 20px;
    margin-left: 100px;
    background-color: #e74c3c;
    border-color: #ae3d32;
}
.style-8 {
    background-color: #e67e22;
    border-color: #9d5311;
    padding: 12px 190px 12px 20px;
}
.bottom-box{
    border-radius: 16px 0px;
}
.build-box{
    margin-left: 80px;
}
/* Main CSS Completed */